button {
    cursor: pointer;
    outline: none;
    border: none;
}
.btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__name {
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.btn--red {
    background: #ed4040;
}
.btn--red .btn__name {
    color: #fff;
}
.btn--round {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
//?
.search__map-btn {
    height: 44px;
    padding: 0 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 50px rgba(37, 1, 0, 0.2);
    border-radius: 5px;
    svg {
        margin-right: 10px;
    }
    span {
        white-space: nowrap;
        font-size: 20px;
    }
}
.search-btn {
    cursor: pointer;
}
.office-btn {
    background: transparent;
}
.office-btn__name {
    font-size: 22px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.office-btn:hover .office-btn__name {
    color: #ed4040;
    text-shadow: 0 0 1px #ed4040, 0 0 1px #ed4040;
}
//?
.remove {
    background: transparent;
}
@media screen and (max-width: 768px) {
    .btn__name {
        font-size: 22px;
    }
}
