button {
    cursor: pointer;
    outline: none;
    border: none;
}
.btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__name {
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.btn--red {
    background: #ed4040;
}
.btn--red .btn__name {
    color: #fff;
}
.btn--round {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btn {
    background: #ffecec;
    border-radius: 50px;
    height: 37px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ffecec;
    transition: all ease 0.3s;
    span {
        white-space: nowrap;
    }
    &_active {
        background: #fff;
        border: 1px solid #ed4040;
        span {
            color: #ed4040;
        }
    }
}
.search-btn {
    cursor: pointer;
}
.show-more-btn {
    color: #717171;
    background: transparent;
    display: flex;
    align-items: center;
    span {
        margin-right: 10px;
    }
}
.clear-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__icon {
        margin-right: 7px;
    }
}
.apply-btn {
    width: 128px;
    height: 36px;
    span {
        font-weight: 500;
        font-size: 16px;
    }
}
.office-btn {
    background: transparent;
}
.office-btn__name {
    font-size: 22px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.office-btn:hover .office-btn__name {
    color: #ed4040;
    text-shadow: 0 0 1px #ed4040, 0 0 1px #ed4040;
}
//?
.remove {
    background: transparent;
}
@media screen and (max-width: 768px) {
    .btn__name {
        font-size: 22px;
    }
}
