.office-form {
    max-width: 650px;
    padding: 80px 105px 100px;
    background: #fff;
    box-shadow: 20px 20px 130px rgba(37, 1, 0, 0.2);
    border-radius: 10px;
    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 60px;
    }
    &__city-input {
        height: 60px;
        margin-bottom: 45px;
    }
    &__city-input__icon {
        left: 30px;
    }
    &__date-input {
        height: 60px;
        margin-bottom: 45px;
    }
    &__date-input__select {
        padding: 0 0 0 68px;
    }
    &__city-select {
        padding: 0 38px 0 64px;
    }
    &__input-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__tags {
        margin-bottom: 30px;
    }
    &__btn {
        padding: 0 50px;
        height: 70px;
    }
}
//media
@media screen and (max-width: 1391px) {
    .office-form {
        max-width: unset;
        &__title {
            margin-bottom: 40px;
        }
        &__tags {
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 1391px) and (min-width: 1001px) {
    .office-form {
        padding: 45px 80px 75px 60px;
        &__city-input,
        &__date-input {
            margin-bottom: 0;
            flex: 0 0 48%;
        }
        &__tags {
            flex: 0 0 55%;
        }
    }
}
@media screen and (max-width: 1000px) {
    .office-form {
        margin: 0 -40px;
        padding: 50px 40px 60px 40px;
        &__title {
            margin-bottom: 30px;
        }
        &__city-input {
            margin-bottom: 30px;
        }
        &__date-input {
            margin-bottom: 50px;
        }
        &__tags {
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        &__tags-left {
            margin-right: 30px;
        }
    }
}
@media screen and (max-width: 768px) {
    .office-form {
        margin: 0 -15px;
        padding: 25px 20px;
        &__title {
            font-size: 28px;
        }
    }
}
