@import "components/counter";
.popup {
    position: absolute;
    background: #ffffff;
    box-shadow: -20px 0px 130px rgba(37, 1, 0, 0.15);
    border-radius: 10px;
    transform: translate(0, 100%);
    opacity: 1;
    z-index: 10;
    display: none;
    &_active {
        animation: fadeIn 0.3s ease;
        display: block;
    }
}
@keyframes fadeIn {
    from {
        transform: translate(0, 80%);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: translate(0, 100%);
        opacity: 1;
        z-index: 10;
    }
}
.popup-price {
    padding: 30px 50px 40px;
    width: 373px;
    &__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 30px;
        display: none;
    }
    &__range {
        width: 100%;
        height: 35px;
        margin-bottom: 20px;
        position: relative;
    }
    &__range-input {
        width: 100%;
        height: 5px;
        margin-bottom: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__values {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__value {
        flex: 0 0 48%;
    }
    &__value p {
        font-size: 14px;
        color: #000000;
        margin-bottom: 5px;
    }
    &__value-start,
    &__value-end {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        height: 44px;
    }
    &__value-start span,
    &__value-end span {
        font-size: 20px;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.popup-props {
    width: 720px;
    padding: 40px 70px 80px 50px;
    &__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__subtitle {
        color: #717171;
        margin-bottom: 15px;
    }
    &__items {
        margin-bottom: 40px;
    }
    &__items-row {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffecec;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__item-name {
        margin-right: 20px;
    }
    &__btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.popup-booking {
    padding: 35px;
    width: 446px;
    &__title {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 22px;
    }
    &__subtitle {
        font-size: 16px;
        color: #717171;
    }
    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-items: flex-end;
        gap: 40px;
    }
    &__switch-btn {
        flex: 0 0 70px;
    }
}
.popup-facilities {
    padding: 35px 50px;
    width: 845px;
    &__items {
        margin-bottom: 35px;
    }
    &__item {
        padding-bottom: 30px;
        border-bottom: 1px solid #ffecec;
    }
    &__item:not(:last-child) {
        margin-bottom: 33px;
    }
    &__item-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &__tags {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    &__btns {
        display: flex;
        justify-content: flex-end;
    }
    &__tags-left {
        margin-right: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .popup {
        position: initial;
        background: #ffffff;
        box-shadow: unset;
        border-radius: 0;
        z-index: 10;
        opacity: 1;
    }
    .popup-price,
    .popup-props,
    .popup-booking,
    .popup-facilities {
        padding: 0;
        width: 100%;
        transform: unset;
        margin-bottom: 40px;
    }
    .popup-props {
        order: 1;
    }
    .popup-price {
        order: 2;
    }
    .popup-facilities {
        order: 3;
    }
    .popup-booking {
        order: 4;
    }
    .popup-facilities {
        &__item {
            border-bottom: unset;
        }
    }
}
//media
@media screen and (max-width: 768px) {
    .popup-props {
        &__title {
            margin-bottom: 15px;
        }
        &__items-row {
            flex-direction: column;
            align-items: unset;
            padding: 25px 0;
            gap: 10px;
        }
        &__item {
            justify-content: space-between;
        }
    }
    .popup-price {
        &__title {
            display: flex;
        }
    }
}
