.rate {
    display: flex;
    align-items: center;
    &__value {
        font-size: 18px;
        font-weight: 300;
        position: relative;
        padding-right: 20px;
    }
    &__value:after {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        content: "";
        background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1991 8.95C11.0372 9.10688 10.9628 9.33375 10.9997 9.55625L11.5553 12.6313C11.6022 12.8919 11.4922 13.1556 11.2741 13.3063C11.0603 13.4625 10.7759 13.4813 10.5428 13.3563L7.77468 11.9125C7.67843 11.8613 7.57155 11.8338 7.46218 11.8306H7.2928C7.23405 11.8394 7.17655 11.8581 7.12405 11.8869L4.3553 13.3375C4.21843 13.4063 4.06343 13.4306 3.91155 13.4063C3.54155 13.3363 3.29468 12.9838 3.3553 12.6119L3.91155 9.53688C3.94843 9.3125 3.87405 9.08438 3.71218 8.925L1.4553 6.7375C1.26655 6.55438 1.20093 6.27938 1.28718 6.03125C1.37093 5.78375 1.58468 5.60313 1.8428 5.5625L4.94905 5.11188C5.1853 5.0875 5.3928 4.94375 5.49905 4.73125L6.8678 1.925C6.9003 1.8625 6.94218 1.805 6.9928 1.75625L7.04905 1.7125C7.07843 1.68 7.11218 1.65313 7.14968 1.63125L7.2178 1.60625L7.32405 1.5625H7.58718C7.82218 1.58688 8.02905 1.7275 8.13718 1.9375L9.52405 4.73125C9.62405 4.93563 9.81843 5.0775 10.0428 5.11188L13.1491 5.5625C13.4116 5.6 13.6309 5.78125 13.7178 6.03125C13.7997 6.28188 13.7291 6.55688 13.5366 6.7375L11.1991 8.95Z' fill='%23ED4040'/%3E%3C/svg%3E%0A");
    }
    &__count {
        font-size: 18px;
    }
}
//media
/* @media screen and (max-width: 480px) {
    .rate {
        &__value {
            font-size: 14px;
            padding-right: 15px;
        }
        &__value:after {
            width: 10px;
            height: 10px;
            background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1991 8.95C11.0372 9.10688 10.9628 9.33375 10.9997 9.55625L11.5553 12.6313C11.6022 12.8919 11.4922 13.1556 11.2741 13.3063C11.0603 13.4625 10.7759 13.4813 10.5428 13.3563L7.77468 11.9125C7.67843 11.8613 7.57155 11.8338 7.46218 11.8306H7.2928C7.23405 11.8394 7.17655 11.8581 7.12405 11.8869L4.3553 13.3375C4.21843 13.4063 4.06343 13.4306 3.91155 13.4063C3.54155 13.3363 3.29468 12.9838 3.3553 12.6119L3.91155 9.53688C3.94843 9.3125 3.87405 9.08438 3.71218 8.925L1.4553 6.7375C1.26655 6.55438 1.20093 6.27938 1.28718 6.03125C1.37093 5.78375 1.58468 5.60313 1.8428 5.5625L4.94905 5.11188C5.1853 5.0875 5.3928 4.94375 5.49905 4.73125L6.8678 1.925C6.9003 1.8625 6.94218 1.805 6.9928 1.75625L7.04905 1.7125C7.07843 1.68 7.11218 1.65313 7.14968 1.63125L7.2178 1.60625L7.32405 1.5625H7.58718C7.82218 1.58688 8.02905 1.7275 8.13718 1.9375L9.52405 4.73125C9.62405 4.93563 9.81843 5.0775 10.0428 5.11188L13.1491 5.5625C13.4116 5.6 13.6309 5.78125 13.7178 6.03125C13.7997 6.28188 13.7291 6.55688 13.5366 6.7375L11.1991 8.95Z' fill='%23ED4040'/%3E%3C/svg%3E%0A");
        }
    }
}
 */
