.schedule {
    padding-left: 30px;
    font-size: 18px;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.665 1.5C3.135 1.5 1.5 3.233 1.5 5.916V14.084C1.5 16.767 3.135 18.5 5.665 18.5H14.333C16.864 18.5 18.5 16.767 18.5 14.084V5.916C18.5 3.233 16.865 1.5 14.334 1.5H5.665ZM14.333 20H5.665C2.276 20 0 17.622 0 14.084V5.916C0 2.378 2.276 0 5.665 0H14.334C17.723 0 20 2.378 20 5.916V14.084C20 17.622 17.723 20 14.333 20Z' fill='%23ED4040'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.39 12.7676C13.259 12.7676 13.127 12.7336 13.006 12.6626L9.61502 10.6396C9.38902 10.5036 9.24902 10.2586 9.24902 9.99561V5.63361C9.24902 5.21961 9.58502 4.88361 9.99902 4.88361C10.413 4.88361 10.749 5.21961 10.749 5.63361V9.56961L13.775 11.3726C14.13 11.5856 14.247 12.0456 14.035 12.4016C13.894 12.6366 13.645 12.7676 13.39 12.7676Z' fill='%23ED4040'/%3E%3C/svg%3E%0A");
    }
}
