<div class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="footer-info__item">
                <div class="footer-info__left">
                    <div class="footer__logo">
                        <a class="logo" href="./search.html">
                            <div class="logo__img">
                                <img src="./public/images/logo-img.png" alt="" />
                            </div>
                            <div class="logo__company">
                                <img src="./public/images/logo-company.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="footer__socials">
                        <div class="socials">
                            <div class="socials__item" id="telegram">
                                <div class="socials__item-icon">
                                    <img src="./public/images/svg/telegram.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials__item" id="facebook">
                                <div class="socials__item-icon">
                                    <img src="./public/images/svg/facebook.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials__item" id="vk">
                                <div class="socials__item-icon">
                                    <img src="./public/images/svg/vk.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials__item" id="instagram">
                                <div class="socials__item-icon">
                                    <img src="./public/images/svg/instagram.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-info__item">
                <div class="footer-info__nav">
                    <div class="footer-info__nav-row">
                        <div class="footer-info__nav-column">
                            <div class="footer-info__nav-title">Сообщество</div>
                            <a class="footer-info__nav-link" href="#"> Реферальная программа </a>
                        </div>
                        <div class="footer-info__nav-column">
                            <div class="footer-info__nav-title">Компания</div>
                            <a class="footer-info__nav-link" href="#"> О сервисе </a>
                        </div>
                    </div>
                    <div class="footer-info__nav-row">
                        <div class="footer-info__nav-column">
                            <div class="footer-info__nav-title">Помощь</div>
                            <a class="footer-info__nav-link" href="#"> Свяжитесь с нами </a>
                        </div>
                        <div class="footer-info__nav-column">
                            <div class="footer-info__nav-title">Аренда</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-policy">
            <div class="footer-policy__inner">
                <div class="footer-policy__text">
                    <div class="footer-policy__name">© 2021 Getdesk.</div>
                    <div class="footer-policy__links">
                        <div class="footer-policy__link">
                            <a href="">Конфиденциальность</a>
                        </div>
                        <div class="footer-policy__link">
                            <a href="">Условия использования</a>
                        </div>
                        <div class="footer-policy__link">
                            <a href="">Реквизиты компании</a>
                        </div>
                    </div>
                </div>
                <div class="footer-policy__inner-item">
                    <div class="footer-policy__currency">
                        <div class="footer__btn--round btn--round">
                            <img src="./public/images/svg/lang.svg" alt="" />
                        </div>
                        <div class="footer-policy__currency-select">
                            <select name="" id="">
                                <option value="" selected="">RUB</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                            </select>
                            <svg
                                width="16"
                                height="10"
                                viewBox="0 0 16 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M15 1.5L8 8.5L1 1.5"
                                    stroke="#717171"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
