<div class="footer">
    <div class="container">
        <div class="footer__info">
            <div class="footer__info-item">
                <div class="footer__info-left">
                    <div class="footer__logo">
                        <a class="logo" href="./search.html">
                            <div class="logo-img">
                                <img src="./public/images/logo-img.png" alt="" />
                            </div>
                            <div class="logo-company">
                                <img src="./public/images/logo-company.png" alt="" />
                            </div>
                        </a>
                    </div>
                    <div class="footer__socials">
                        <div class="socials">
                            <div class="socials-item" id="telegram">
                                <div class="socials-item__icon">
                                    <img src="./public/images/svg/telegram.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials-item" id="facebook">
                                <div class="socials-item__icon">
                                    <img src="./public/images/svg/facebook.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials-item" id="vk">
                                <div class="socials-item__icon">
                                    <img src="./public/images/svg/vk.svg" alt="" />
                                </div>
                            </div>
                            <div class="socials-item" id="instagram">
                                <div class="socials-item__icon">
                                    <img src="./public/images/svg/instagram.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__info-item">
                <div class="footer__info-nav">
                    <div class="footer__info-nav__row">
                        <div class="footer__info-nav__column">
                            <div class="footer__info-nav__title">Сообщество</div>
                            <a class="footer__info-nav__link" href="#"> Реферальная программа </a>
                        </div>
                        <div class="footer__info-nav__column">
                            <div class="footer__info-nav__title">Компания</div>
                            <a class="footer__info-nav__link" href="#"> О сервисе </a>
                        </div>
                    </div>
                    <div class="footer__info-nav__row">
                        <div class="footer__info-nav__column">
                            <div class="footer__info-nav__title">Помощь</div>
                            <a class="footer__info-nav__link" href="#"> Свяжитесь с нами </a>
                        </div>
                        <div class="footer__info-nav__column">
                            <div class="footer__info-nav__title">Аренда</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__policy">
            <div class="footer__policy-inner">
                <div class="footer__policy-text">
                    <div class="footer__policy-name">© 2021 Getdesk.</div>
                    <div class="footer__policy-links">
                        <div class="footer__policy-link">
                            <a href="">Конфиденциальность</a>
                        </div>
                        <div class="footer__policy-link">
                            <a href="">Условия использования</a>
                        </div>
                        <div class="footer__policy-link">
                            <a href="">Реквизиты компании</a>
                        </div>
                    </div>
                </div>
                <div class="footer__policy-inner__item">
                    <div class="footer__policy-currency">
                        <div class="footer-round__btn round__btn" id="lang-btn">
                            <img src="./public/images/svg/lang.svg" alt="" />
                        </div>
                        <div class="footer__policy-currency__select">
                            <select name="" id="">
                                <option value="" selected="">RUB</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                                <option value="">EURO</option>
                            </select>
                            <svg
                                width="16"
                                height="10"
                                viewBox="0 0 16 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M15 1.5L8 8.5L1 1.5"
                                    stroke="#717171"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
