<div class="header">
    <div class="container">
        <div class="header__top">
            <a class="logo" href="./search.html">
                <div class="logo-img">
                    <img src="./public/images/logo-img.png" alt="" />
                </div>
                <div class="header__logo-company logo-company">
                    <img src="./public/images/logo-company.png" alt="" />
                </div>
            </a>
            <div class="header__input-blocks">
                <div class="city__input def__input">
                    <svg
                        class="map-icon left-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.2505 8.5C11.2855 8.5 10.5005 9.285 10.5005 10.251C10.5005 11.216 11.2855 12 12.2505 12C13.2155 12 14.0005 11.216 14.0005 10.251C14.0005 9.285 13.2155 8.5 12.2505 8.5ZM12.2505 13.5C10.4585 13.5 9.00049 12.043 9.00049 10.251C9.00049 8.458 10.4585 7 12.2505 7C14.0425 7 15.5005 8.458 15.5005 10.251C15.5005 12.043 14.0425 13.5 12.2505 13.5Z"
                            fill="#131313"
                        />
                        <mask
                            id="mask0"
                            mask-type="alpha"
                            maskUnits="userSpaceOnUse"
                            x="4"
                            y="2"
                            width="17"
                            height="20"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4 2H20.4995V21.5H4V2Z"
                                fill="white"
                            />
                        </mask>
                        <g mask="url(#mask0)">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12.2495 3.5C8.52751 3.5 5.49951 6.557 5.49951 10.313C5.49951 15.092 11.1235 19.748 12.2495 19.996C13.3755 19.747 18.9995 15.091 18.9995 10.313C18.9995 6.557 15.9715 3.5 12.2495 3.5ZM12.2495 21.5C10.4555 21.5 3.99951 15.948 3.99951 10.313C3.99951 5.729 7.70051 2 12.2495 2C16.7985 2 20.4995 5.729 20.4995 10.313C20.4995 15.948 14.0435 21.5 12.2495 21.5Z"
                                fill="#131313"
                            />
                        </g>
                    </svg>
                    <input type="text" placeholder="Выберите город" />
                    <button class="search-btn">
                        <svg
                            class="search-icon right-icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <mask
                                id="search-icon1"
                                mask-type="alpha"
                                maskUnits="userSpaceOnUse"
                                x="2"
                                y="2"
                                width="20"
                                height="19"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2 2H21.2231V20.7987H2V2Z"
                                    fill="white"
                                />
                            </mask>
                            <g mask="url(#search-icon1)">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.6121 3.44776C7.12832 3.44776 3.48047 7.01407 3.48047 11.3988C3.48047 15.7836 7.12832 19.3509 11.6121 19.3509C16.095 19.3509 19.7428 15.7836 19.7428 11.3988C19.7428 7.01407 16.095 3.44776 11.6121 3.44776ZM11.6121 20.7987C6.31208 20.7987 2 16.5818 2 11.3988C2 6.21587 6.31208 2 11.6121 2C16.9122 2 21.2233 6.21587 21.2233 11.3988C21.2233 16.5818 16.9122 20.7987 11.6121 20.7987Z"
                                    fill="#131313"
                                />
                            </g>
                            <mask
                                id="search-icon2"
                                mask-type="alpha"
                                maskUnits="userSpaceOnUse"
                                x="17"
                                y="17"
                                width="6"
                                height="5"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M17.0415 17.1599H22.0001V22H17.0415V17.1599Z"
                                    fill="white"
                                />
                            </mask>
                            <g mask="url(#search-icon2)">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M21.2601 22C21.0716 22 20.8821 21.9296 20.737 21.7886L17.2589 18.397C16.9697 18.1142 16.9687 17.6558 17.2579 17.373C17.5461 17.0882 18.0149 17.0902 18.3051 17.371L21.7832 20.7636C22.0723 21.0464 22.0733 21.5039 21.7842 21.7867C21.6401 21.9296 21.4496 22 21.2601 22Z"
                                    fill="#131313"
                                />
                            </g>
                        </svg>
                    </button>
                </div>
                <div class="date__input def__input">
                    <svg
                        class="date-icon left-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M3.09253 9.40426H20.9165"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M16.442 13.3097H16.4512"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M12.0047 13.3097H12.014"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M7.55793 13.3097H7.5672"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M16.442 17.1962H16.4512"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M12.0047 17.1962H12.014"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M7.55793 17.1962H7.5672"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M16.0438 2V5.29078"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M7.9654 2V5.29078"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.2383 3.57919H7.77096C4.83427 3.57919 3 5.21513 3 8.22222V17.2719C3 20.3262 4.83427 22 7.77096 22H16.229C19.175 22 21 20.3546 21 17.3475V8.22222C21.0092 5.21513 19.1842 3.57919 16.2383 3.57919Z"
                            stroke="#131313"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>

                    <select>
                        <option value="" disabled="" selected="" hidden="">Укажите дату</option>
                        <option value="">asdasd</option>
                        <option value="">asdasd</option>
                        <option value="">asdasd</option>
                        <option value="">asdasd</option>
                    </select>
                </div>
            </div>
            <div class="header__top-btns">
                <div class="header-round__btns round__btns">
                    <button class="header-round__btn round__btn" id="btn-lang">
                        <img src="./public/images/svg/lang.svg" alt="" />
                    </button>
                    <button class="header-round__btn round__btn" id="btn-login">
                        <img src="./public/images/svg/login.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
