<div class="counter">
    <button class="counter__btn counter__btn-minus">
        <span class="counter__btn-icon"></span>
    </button>
    <input class="counter__input" type="number" />
    <button class="counter__btn counter__btn-plus">
        <span class="counter__btn-icon"></span>
    </button>
</div>
