<div class="office__slider">
    <div class="office__slider-items slider-wrapper">
        <div class="office__slider-item slider-item">
            <img src="./public/images/search-item1.jpg" alt="" />
        </div>
        <div class="office__slider-item slider-item">
            <img src="./public/images/search-item2.jpg" alt="" />
        </div>
        <div class="office__slider-item slider-item">
            <img src="./public/images/search-item3.jpg" alt="" />
        </div>
        <div class="office__slider-item slider-item">
            <img src="./public/images/search-item2.jpg" alt="" />
        </div>
        <div class="office__slider-item slider-item">
            <img src="./public/images/search-item1.jpg" alt="" />
        </div>
    </div>
    <div class="office__slider-btn__prev"></div>
    <div class="office__slider-btn__next"></div>
</div>
