<div class="office-slider">
    <div class="office-slider__items slider-wrapper">
        <div class="office-slider__item slider-item">
            <img src="./public/images/search-item1.jpg" alt="" />
        </div>
        <div class="office-slider__item slider-item">
            <img src="./public/images/search-item2.jpg" alt="" />
        </div>
        <div class="office-slider__item slider-item">
            <img src="./public/images/search-item3.jpg" alt="" />
        </div>
        <div class="office-slider__item slider-item">
            <img src="./public/images/search-item2.jpg" alt="" />
        </div>
        <div class="office-slider__item slider-item">
            <img src="./public/images/search-item1.jpg" alt="" />
        </div>
    </div>
    <div class="office-slider__btn-prev"></div>
    <div class="office-slider__btn-next"></div>
</div>
