.header {
    box-shadow: 0px 5px 50px rgba(37, 1, 0, 0.2);
    z-index: 100;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__filters-btn {
        height: 100%;
        width: 60px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #c7c7c7;
    }
    &__office-btn {
        margin-right: 70px;
    }
    &__input-blocks {
        display: flex;

        gap: 40px;
        align-items: center;
    }
    &__city-input {
        width: 435px;
        height: 60px;
        padding: 0 38px 0 34px;
    }
    &__date-input-block {
        height: 60px;
    }
    &__date-input-block > .date-input {
        height: 100%;
    }
    &__date-input {
        height: 100%;
        padding: 0 44px 0 78px;
    }
    &__top-btns {
        display: flex;
        flex-wrap: wrap;
    }
    &__round-btns {
        display: flex;
        gap: 20px;
    }
    &__btn--round {
        background: #f74d4a;
    }
    &__components {
        box-shadow: 0px 5px 50px rgba(37, 1, 0, 0.2);
    }
}
@media screen and (max-width: 1391px) {
    .header {
        &__date-input-block {
            display: none;
        }
        &__city-input {
            width: 250px;
            padding: 0 20px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .header {
        box-shadow: none;
    }
}
@media screen and (max-width: 768px) {
    .header {
        &__top {
            padding: 10px 0;
            height: 80px;
            flex-wrap: nowrap;
        }
        &__logo {
            display: none;
        }
        &__top-btns {
            display: none;
        }
        &__date-input-block {
            display: initial;
            width: unset;
            flex: 0 0 calc(50% - 7.5px);
            height: 100%;
        }
        &__input-blocks {
            height: 100%;
            gap: 15px;
            flex-grow: 1;
        }
        &__city-input {
            width: unset;
            height: 100%;
            flex: 0 0 calc(50% - 7.5px);
        }
        &__date-input {
            padding: 0 30px 0 60px;
        }
        &__filters-btn {
            width: unset;
            flex: 0 0 60px;
        }
    }
}
@media screen and (max-width: 580px) {
    .header {
        &__top {
            padding: 20px 0;
            height: 84px;
        }
        &__filters-btn {
            flex: 0 0 44px;
        }
    }
}
