@import "components/fonts";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/bookingForm";
@import "blocks/table";
@import "components/buttons";
@import "components/logo";
@import "components/main";
@import "components/inputForms";
@import "components/rate";
@import "components/location";
@import "components/schedule";
@import "components/counter";
@import "components/officeSlider";

.office-comments {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    &__title {
        font-size: 28px;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__rate {
        margin-right: 20px;
    }
    &__rate-value {
        margin-right: 15px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        flex: 0 0 23%;
        margin-bottom: 42px;
    }
    &__item-profile {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__item-avatar {
        margin-right: 16px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__item-name {
        color: #717171;
    }
    &__item-text {
        height: 77px;
        line-height: 20px;
        margin-bottom: 8px;
        overflow-y: hidden;
    }
    &__item-text.active {
        height: unset;
        overflow-y: auto;
    }
}
.office {
    padding: 50px 0 90px;
    &__main {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    &__booking {
        display: flex;
    }
    &__booking .booking-form {
        top: 0;
        position: sticky;
        align-self: flex-start;
    }
}
.office-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    &__item {
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__item:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    &__item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    &__item:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    &__item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    &__item:nth-child(5) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}
.office-about {
    flex: 0 0 60%;

    &__title {
        font-size: 52px;
        font-weight: 500;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    &__top-btns {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
.office-info {
    display: flex;
    justify-content: space-between;
    padding: 40px 25px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    align-items: flex-start;
    margin-bottom: 60px;
    &__left > *:not(:last-child) {
        margin-bottom: 13px;
    }
    &__rate {
        display: flex;
        align-items: center;
    }
    &__rate-value {
        margin-right: 15px;
    }
    &__rate-count {
        font-size: 18px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__price {
        color: #ed4040;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
    }
    &__properties {
        display: flex;
        align-items: center;
    }
    &__property {
        position: relative;
        padding-left: 10px;
        color: #000000;
        font-size: 18px;
    }
    &__property:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 5px;
        height: 5px;
        background: #f74d4a;
        border-radius: 50%;
        transform: translate(0, -50%);
    }
    &__property:not(:last-child) {
        margin-right: 10px;
    }
}
.office-tabs {
    margin-bottom: 60px;
    &__items {
        display: flex;
        margin-bottom: 60px;
        gap: 30px;
    }
    li.ui-tabs-active &__link {
        color: #131313;
    }
    &__link {
        font-weight: 500;
        font-size: 18px;
        color: #717171;
    }
    &__content {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 150%;
    }
}
.office-comfort {
    margin-bottom: 60px;
    &__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    &__tags {
        display: flex;
        margin-bottom: 23px;
    }
    &__tag-column:not(:last-child) {
        margin-right: 80px;
    }
    &__tag {
        padding-left: 15px;
        position: relative;
        display: flex;
    }
    &__tag:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 50%;
        left: 0;
        border-radius: 50%;
        background: #f74d4a;
        transform: translate(0, -50%);
    }
    &__tag:not(:last-child) {
        margin-bottom: 10px;
    }
    &__tag-name {
        background: #ffffff;
        border: 0.5px solid #dadada;
        border-radius: 50px;
        padding: 4px 12px;
        font-size: 14px;
        line-height: 21px;
        white-space: nowrap;
    }
}
.office-tables {
    &__tabs ul {
        display: flex;
        gap: 30px;
        margin-bottom: 70px;
    }
    &__tabs ul a {
        font-size: 22px;
        font-weight: 500;
    }
}
.office-location {
    &__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    &__map {
        height: 500px;
        width: 100%;
    }
}
