@import "components/fonts";
@import "components/main";
@import "blocks/header";
@import "components/buttons";
@import "components/logo";
@import "components/inputForms";
@import "components/officeSlider";
@import "components/rate";
@import "components/popups";
@import "components/overlay";
@import "components/mapBlock";
@import "blocks/footer";

.search {
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        padding-top: 60px;
        width: 50%;
    }
    &__title {
        margin-bottom: 20px;
    }

    &__items {
        height: 900px;
        overflow-y: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
    &__items::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }

    &__map-block {
        width: 48%;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 15;
    }
    &__map-show__btn {
        display: none;
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 5px 50px rgba(37, 1, 0, 0.2);
        border-radius: 5px;
        height: 54px;
        padding: 0 20px;
        span {
            font-size: 20px;
            margin-left: 10px;
        }
    }
}
.search-filters {
    margin-bottom: 50px;
    position: relative;
    &__apply-btn {
        margin-left: 45px;
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
    }
    &__btn:not(:last-child) {
        margin-right: 20px;
    }
    &__popup-price {
        bottom: -35px;
        left: 0;
    }
    &__popup-props {
        bottom: -35px;
        left: 0;
    }
    &__popup-booking {
        bottom: -35px;
        right: 20%;
    }
    &__popup-facilities {
        bottom: -35px;
        left: 0;
    }
}
.search-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
    &__info {
        margin-left: 20px;
        align-self: center;
    }
    &__slider {
        height: 250px;
        width: 46.5%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 28px;
        margin-bottom: 5px;
    }
    &__header-name {
        display: flex;
        flex-direction: column;
    }
    &__rate {
        display: flex;
        align-items: center;
    }
    &__favorite {
        margin-right: 20px;
    }
    &__favorite > .btn--round {
        width: 38px;
        height: 38px;
    }
    &__type {
        color: #ed4040;
        font-size: 18px;
        font-weight: 500;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__tag {
        height: 29px;
        border-radius: 50px;
        background: #ffffff;
        border: 0.5px solid #dadada;
        display: flex;
        align-items: center;
        padding: 0 12px;
        margin: 0 5px 10px 0;
        span {
            color: #717171;
            font-size: 14px;
            text-align: center;
        }
    }
    &__numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__properties {
        display: flex;
        align-items: center;
    }
    &__property {
        position: relative;
        padding: 10px;
        color: #000000;
        font-size: 18px;
        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            background: #f74d4a;
            border-radius: 50%;
            transform: translate(0, -50%);
        }
    }
    &__property:not(:last-child) {
        margin-right: 20px;
    }
    &__price {
        font-size: 28px;
        font-weight: 700;
    }
}
@media screen and (max-width: 1740px) {
    .search {
        &__left {
            width: 60%;
        }
        &__map-block {
            width: 38%;
        }
    }
}
@media screen and (max-width: 1391px) {
    .search {
        overflow: hidden;
        &__content {
            position: relative;
        }
        &__left {
            width: 100%;
        }
        &__map-block {
            width: 100%;
            transform: translate(0, 100%);
            transition: transform ease 0.5s;
        }
        &__map-show__btn {
            display: flex;
        }
        &__map-block_active {
            opacity: 1;
            transform: translate(0, 0);
        }
        &__map-show__btn_active {
            display: none;
        }
    }
}
@media screen and (max-width: 1000px) {
    .search {
        &__items {
            height: calc(100vh - 130px);
        }
        &__left {
            padding-top: 10px;
        }
        &__title {
            display: none;
        }
    }
    .search-filters {
        padding: 0 40px;
        background: #fff;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: -100%;
        left: 0;
        transform: translate(0, -100%);
        transition: transform ease 0.5s;
        z-index: 100;
        &_active {
            top: 0;
            height: 100%;
            z-index: 100;
            transform: translate(0, 0);
            overflow-y: scroll;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
        }
        &_active::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }
        &__popup-price,
        &__popup-props,
        &__popup-booking,
        &__popup-facilities {
            transform: unset;
        }
        &__btns {
            display: none;
        }
    }

    .search-item {
        flex-direction: column;

        &__title {
            margin-bottom: 0;
        }
        &__slider {
            width: 100%;
            height: unset;
            position: relative;
        }
        &__slider img {
            min-height: 250px;
            object-fit: cover;
            object-position: center;
        }
        &__info {
            align-self: flex-start;
            margin-left: 0;
            width: 100%;
        }
        &__tags {
            margin-top: 10px;
        }
        &__type {
            display: flex;
            align-items: center;
        }
        &__rate {
            margin-left: 10px;
        }
        &__favorite {
            margin-right: 0;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 2;
        }
        &__header {
            align-items: unset;
        }
        &__header-name {
            justify-content: space-between;
            flex: 0 0 60%;
        }
        &__numbers {
            flex-direction: column-reverse;
            justify-content: space-between;
            flex: 0 0 35%;
            align-items: flex-end;
        }
        &__price {
            color: #ed4040;
        }
        &__property {
            padding: 0 0 0 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .search-filters {
        padding: 20px 15px 40px 15px;
    }
}
@media screen and (max-width: 540px) {
    .search-item {
        &__title {
            font-size: 20px;
        }
        &__price {
            font-size: 20px;
        }
        &__type {
            font-size: 16px;
        }
        &__property {
            font-size: 16px;
        }
        &__property:not(:last-child) {
            margin-right: 10px;
        }
    }
    .search {
        &__map-show__btn {
            display: flex;
            height: 32px;
            padding: 0 10px;
        }
        &__map-show__btn span {
            font-size: 14px;
        }
        &__map-show__btn svg {
            width: 12px;
            height: 12px;
        }
    }
}
@media screen and (max-width: 420px) {
    .search-item {
        &__header {
            flex-direction: column;
        }
        &__header-name {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
        &__numbers {
            flex: 0 0 100%;
            align-items: flex-start;
        }
    }
}
