@import "components/fonts";
@import "components/main";
@import "blocks/header";
@import "components/favorite";
@import "components/buttons";
@import "components/logo";
@import "components/inputForms";
@import "components/officeSlider";
@import "components/rate";
@import "components/popups";
@import "components/overlay";
@import "blocks/footer";

.search {
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        padding-top: 60px;
        width: 50%;
    }
    &-title {
        margin-bottom: 20px;
    }
    &__filters {
        margin-bottom: 50px;
        position: relative;
    }
    &__filters-btns {
        display: flex;
        flex-wrap: wrap;
    }
    &__filter-button {
        background: #ffecec;
        border-radius: 50px;
        height: 37px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        border: 1px solid #ffecec;
        transition: all ease 0.3s;
        span {
            white-space: nowrap;
        }
    }
    &__filter-button.active {
        background: #fff;
        border: 1px solid #ed4040;
        span {
            color: #ed4040;
        }
    }
    &__filter:not(:last-child) &__filter-button {
        margin-right: 20px;
    }
    &__filter-popup__price {
        bottom: -35px;
        left: 0;
        transform: translate(0, 80%);
        &.active {
            transform: translate(0, 100%);
        }
    }
    &__filter-popup__props {
        bottom: -35px;
        left: 0;
        transform: translate(0, 80%);
        &.active {
            transform: translate(0, 100%);
        }
    }
    &__filter-popup__booking {
        bottom: -35px;
        right: 0;
        transform: translate(-35%, 80%);
        &.active {
            transform: translate(-35%, 100%);
        }
    }
    &__filter-popup__facilities {
        bottom: -35px;
        left: 0;
        transform: translate(0, 80%);
        &.active {
            transform: translate(0, 100%);
        }
    }
    &__items {
        height: 900px;
        overflow-y: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
    &__items::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }
    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__item:not(:last-child) {
        margin-bottom: 40px;
    }
    &__item-info {
        margin-left: 20px;
        align-self: center;
    }
    &__item-slider {
        height: 250px;
        width: 46.5%;
    }
    &__item-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__item-title {
        font-size: 28px;
        margin-bottom: 5px;
    }
    &__item-header__name {
        display: flex;
        flex-direction: column;
    }
    &__item-rate {
        display: flex;
        align-items: center;
    }
    &__item-favorite {
        margin-right: 20px;
    }
    &__item-type {
        color: #ed4040;
        font-size: 18px;
        font-weight: 500;
    }
    &__item-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__item-tag {
        height: 29px;
        border-radius: 50px;
        background: #ffffff;
        border: 0.5px solid #dadada;
        display: flex;
        align-items: center;
        padding: 0 12px;
        margin: 0 5px 10px 0;
        span {
            color: #717171;
            font-size: 14px;
            text-align: center;
        }
    }
    &__item-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-properties {
        display: flex;
        align-items: center;
    }
    &__item-property {
        position: relative;
        padding: 10px;
        color: #000000;
        font-size: 18px;
        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            background: #f74d4a;
            border-radius: 50%;
            transform: translate(0, -50%);
        }
    }
    &__item-property:not(:last-child) {
        margin-right: 20px;
    }
    &__item-price {
        font-size: 28px;
        font-weight: 700;
    }
    &__map-block {
        width: 48%;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 15;
    }
    &__map {
        width: 100%;
    }
    &__map-nav {
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        z-index: 20;
        transform: translate(-50%, 0);
        gap: 20px;
        margin-top: 30px;
    }
    &__map-show__btn {
        display: none;
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 5px 50px rgba(37, 1, 0, 0.2);
        border-radius: 5px;
        height: 54px;
        padding: 0 20px;
        span {
            font-size: 20px;
            margin-left: 10px;
        }
    }
}
@media screen and (max-width: 1740px) {
    .search {
        &__left {
            width: 60%;
        }
        &__map-block {
            width: 38%;
        }
    }
}
@media screen and (max-width: 1391px) {
    .search {
        overflow: hidden;
        &__content {
            position: relative;
        }
        &__left {
            width: 100%;
        }
        &__map-block {
            width: 100%;
            transform: translate(0, 100%);
            transition: transform ease 0.5s;
        }
        &__map-show__btn {
            display: flex;
        }
        &.show-map &__map-block {
            opacity: 1;
            transform: translate(0, 0);
        }
        &.show-map &__map-show__btn {
            display: none;
        }
    }
}
@media screen and (max-width: 1000px) {
    .search {
        &__items {
            height: calc(100vh - 120px);
        }
        &__left {
            padding-top: 10px;
        }
        &-title {
            display: none;
        }
        &__filters {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            top: -100%;
            left: 0;
            transform: translate(0, -100%);
            transition: all ease 0.5s;
        }
        &__filters.active {
            background: #fff;
            padding: 0 40px;
            top: 0;
            height: 100%;
            z-index: 100;
            transform: translate(0, 0);
            overflow-y: scroll;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
        }
        &__filters::-webkit-scrollbar.active {
            width: 0px; /* For Chrome, Safari, and Opera */
        }
        &__filter-popup__price,
        &__filter-popup__props,
        &__filter-popup__booking,
        &__filter-popup__facilities {
            transform: unset;
        }
        &__filters-btns {
            display: none;
        }
        &__item {
            flex-direction: column;
        }
        &__item-title {
            margin-bottom: 0;
        }
        &__item-slider {
            width: 100%;
            height: unset;
            position: relative;
        }
        &__item-slider img {
            min-height: 250px;
            object-fit: cover;
            object-position: center;
        }
        &__item-info {
            align-self: flex-start;
            margin-left: 0;
            width: 100%;
        }
        &__item-tags {
            margin-top: 10px;
        }
        &__item-type {
            display: flex;
            align-items: center;
        }
        &__item-rate {
            margin-left: 10px;
        }
        &__item-favorite {
            margin-right: 0;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 2;
        }
        &__item-header {
            align-items: unset;
        }
        &__item-header__name {
            justify-content: space-between;
            flex: 0 0 60%;
        }
        &__item-numbers {
            flex-direction: column-reverse;
            justify-content: space-between;
            flex: 0 0 35%;
            align-items: flex-end;
        }
        &__item-price {
            color: #ed4040;
        }
        &__item-property {
            padding: 0 0 0 10px;
        }
    }
}
@media screen and (max-width: 540px) {
    .search {
        &__item-title {
            font-size: 20px;
        }
        &__item-price {
            font-size: 20px;
        }
        &__item-type {
            font-size: 16px;
        }
        &__item-property {
            font-size: 16px;
        }
        &__item-property:not(:last-child) {
            margin-right: 10px;
        }
        &__map-show__btn {
            display: flex;
            height: 32px;
            padding: 0 10px;
        }
        &__map-show__btn span {
            font-size: 14px;
        }
        &__map-show__btn svg {
            width: 12px;
            height: 12px;
        }
    }
}
@media screen and (max-width: 420px) {
    .search {
        &__item-header {
            flex-direction: column;
        }
        &__item-header__name {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
        &__item-numbers {
            flex: 0 0 100%;
            align-items: flex-start;
        }
    }
}
